.card{
    height: 12rem;
    width: 15rem;
    background-color: transparent;
    border-radius: 5%;
    padding: 1rem;
    box-shadow: 0.2rem 0.2rem 0.2rem grey;
}
.btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    margin-top: 6rem;
    margin-left: 7rem;
    width: 7rem;
    
}

.example-handle {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ccc;
    cursor: move;
    width: 24px;
    height: 24px;
  }



