

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// $my-wishlist-primary: mat.define-palette(mat.$indigo-palette);
// $my-wishlist-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// // The warn palette is optional (defaults to red).
// $my-wishlist-warn: mat.define-palette(mat.$red-palette);

// // Create the theme object. A theme consists of configurations for individual
// // theming systems such as "color" or "typography".
// $my-wishlist-theme: mat.define-light-theme((
//   color: (
//     primary: $my-wishlist-primary,
//     accent: $my-wishlist-accent,
//     warn: $my-wishlist-warn,
//   )
// ));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
//@include mat.all-component-themes($my-wishlist-theme);

/* You can add global styles to this file, and also import other style files */

@import '@angular/material/theming';


@include mat.core();

$my-whishlist-primary: mat-palette($mat-indigo);
$my-whishlist-accent: mat-palette($mat-deep-purple);

// The "warn" palette is optional and defaults to red if not specified.
$my-whishlist-warn: mat-palette($mat-red);

$my-whishlist-theme: mat-light-theme($my-whishlist-primary,$my-whishlist-accent,$my-whishlist-warn);



//for dark theme

$my-whishlist-primary-dark: mat-palette($mat-orange);
$my-whishlist-accent-dark: mat-palette($mat-grey);

// The "warn" palette is optional and defaults to red if not specified.
$my-whishlist-warn-dark: mat-palette($mat-red);

$my-whishlist-theme-dark: mat-dark-theme($my-whishlist-primary-dark,$my-whishlist-accent-dark,$my-whishlist-warn-dark);

.theme-light{
    @include angular-material-theme($my-whishlist-theme);
    background-color: white;
}

.theme-dark{
    @include angular-material-theme($my-whishlist-theme-dark);
    background-color: #212121;
     input{color: white;
     }
    
}
.buttons{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: #A020F0;
    margin-top: 0.5rem;
    border-color: transparent;
    color: white;
    padding: 0.5rem;
}


html, body { height: 100%; width: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
 }
